html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER HEIGHT = 88px */
/* FOOTER HEIGHT = 60px (adjust if needed) */

.app-content {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
  background-image: url("../src/assets/BGImages/bg7.jpg"); /* put image in public/images */
  background-size: cover;        /* fills screen */
  background-position: center;   /* center image */
  background-repeat: no-repeat;  /* no tiling */
  background-attachment: fixed;  /* stays while scrolling */
}
